@import url('https://fonts.googleapis.com/css?family=Lato');

*{
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
	padding: 0;

	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #f0f7ff;

}

body{	

	padding: 0px;

	min-width: 335px;
	min-height: 600px;
	
}

article.content-info{
    padding: 24px;
    background-color: rgba(35, 35, 35, 0.7);
}

.simple-container{
	margin: auto;
    max-width: 60%;
}
div.parallax-window{
	min-height: 1080px;
	padding: 120px;
}

@media (max-width: 1000px){
	.simple-container{
		max-width: 80%;
	}
	div.parallax-window{
		padding: 60px;
	}	
}
@media (max-width: 750px){
	.simple-container{
		max-width: 90%;
	}
}
@media (max-width: 560px){
	.simple-container{
		max-width: 100%;
	}
	div.parallax-window{
		padding: 20px;
	}
}

.accent-text{
	font-size: 18px;
}

#loading-window{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: blue;
}
